:root {
  --color-primary: #36A4AA;
  --color-secondary: #1A649D; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr; }

.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  font-weight: 500; }
  .heading-primary--white {
    color: #fff; }
  .heading-primary--black {
    color: #000; }
  .heading-primary--primary {
    color: var(--color-primary); }
  .heading-primary--center {
    text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.grid {
  grid-column: 1/-1; }

.header {
  background-color: var(--color-primary);
  grid-column: 1/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem; }
  .header__icon img {
    display: block;
    width: 7rem; }
  .header__list {
    list-style: none;
    display: flex; }
  .header__link:link, .header__link:visited {
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 2rem; }
  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__buttons-mentor {
      background-color: #fff;
      height: 100%;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      margin-right: 1.5rem; }
      .header__buttons-mentor-para {
        font-size: 1.8rem;
        color: var(--color-primary); }
    .header__buttons:last-child img {
      display: block;
      width: 100%; }

.footer {
  background-color: var(--color-secondary);
  grid-column: 1/-1; }

.section-intro {
  grid-column: 2/10;
  height: 91vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -7rem;
  margin-bottom: 7rem; }
  .section-intro .intro {
    font-weight: 300;
    font-size: 3rem;
    color: #000;
    line-height: 4.5rem;
    margin-top: 2.5rem; }
  .section-intro__picture img {
    width: 60rem; }

.section-work {
  background-color: var(--color-primary);
  padding: 10rem 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(12rem, 1fr) repeat(3, min-content) minmax(12rem, 1fr);
  justify-content: center; }
  .section-work .container-test {
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 5rem;
    grid-row-gap: 15rem; }
  .section-work__examples-images {
    display: block; }
  .section-work__examples-para {
    font-weight: 300;
    font-size: 3rem;
    color: #fff; }

.section-webinars {
  background-color: #807676;
  grid-column: 2/10; }

.section-features {
  background-color: var(--color-primary);
  grid-column: 2/10; }

.section-mentors {
  background-color: #807676;
  grid-column: 2/10; }

.section-prompt-mentors {
  background-color: var(--color-primary);
  grid-column: 2/10; }

.section__experience {
  background-color: #807676;
  grid-column: 2/10; }

.section__download {
  background-color: var(--color-primary);
  grid-column: 2/10; }
