.experience{
    
    display: grid;
    grid-template-columns: min-content 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 20rem;

    @media only screen and (max-width: $bp-medium){
        grid-column-gap: 8rem;
    }

    @media only screen and (max-width: $bp-mini){
        grid-template-columns: min-content ;
     }

    &__img{
        
        & img{
            @media only screen and (max-width: $bp-medium){
                display: block;
                width: 45rem;
            }
            @media only screen and (max-width: $bp-small){
                display: block;
                width: 40rem;
            }
            @media only screen and (max-width: $bp-smallest){
                display: block;
                width: 35rem;
            }
            @media only screen and (max-width: $bp-mini){
                margin-bottom: 2rem;
            }
            
        }
    }

    &__para{
        width: 100%;
    }

    &__user{
        margin-top: 5rem;
        font-size: 2rem;

        @media only screen and (max-width: $bp-small){
             margin-top: 3rem;
        }
        @media only screen and (max-width: $bp-smallest){
             margin-top: 2rem;
        }
    }
}