.mentors{
    width: min-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10rem;
    grid-column-gap: 8rem;

    @media only screen and (max-width: $bp-largest){
        grid-column-gap: 3rem;
    }
    @media only screen and (max-width: $bp-medium){
        grid-template-columns: repeat(1, 1fr);
    }
    &__mentor{
        
    }
    

    &__img{
        @media only screen and (max-width: $bp-smallest){
            width : 40rem;
        }
    }
}