.prompt-mentor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15rem;

    @media only screen and (max-width: $bp-mini){
        flex-direction: column-reverse;
     }

    @media only screen and (max-width: $bp-small){
        padding: 0 10rem;
    }

    &__info{
        display: flex;
        flex-direction: column;


    }

    &__btn{
        display: inline-block;
        border: none;
        text-decoration: none;
        background: none;
        cursor: pointer;
        color: #fff;
        margin-left: -10rem;
        font-size: 2.2rem;

        @media only screen and (max-width: $bp-mini){
            margin-left: 0;
         }
    }
    &__img{
        & img{
        @media only screen and (max-width: $bp-medium){
            display: block;
            width: 45rem;
        }
        @media only screen and (max-width: $bp-small){
            display: block;
            width: 35rem;
        }
        @media only screen and (max-width: $bp-smallest){
            display: block;
            width: 30rem;
        }
        @media only screen and (max-width: $bp-mini){
            margin-bottom: 2rem;
         }
    }
    }
}