.upcoming-webinar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10rem;
    grid-column-gap: 8rem;

}
.webinar{
    width: min-content;

    &__img{
        margin-bottom: 2rem;
    }
}