.works{
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 10rem;

    @media only screen and (max-width: $bp-largest){
        grid-column-gap: 3rem;
    }
    @media only screen and (max-width: $bp-medium){
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        grid-column-gap: 5rem;
        grid-row-gap: 7rem;
    }
    @media only screen and (max-width: $bp-small){
        grid-column-gap: 3rem;
    }

    @media only screen and (max-width: $bp-smallest){
        grid-template-columns: repeat(1, min-content);
    }

    &__examples{
           
        //width: min-content;

        &-images{
            display: block;
            margin-bottom: 2rem;

            @media only screen and (max-width: $bp-mini){
                width: 35rem;
             }
        }
       
    }
}