.works{
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 10rem;

    &__examples{
           
        //width: min-content;

        &-images{
            display: block;
            margin-bottom: 2rem;
        }
       
    }
}