.heading-primary{
    font-family: 'Poppins', sans-serif;
    font-size: 4.2rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-small){
        font-size: 3.7rem;
    }

    @media only screen and (max-width: $bp-mini){
       font-size: 3.5rem;
    }
    

    &--white{
        color: #fff;
    }

    &--black{
        color: #000;
    }

    &--primary{
        color: var(--color-primary);
    }

    &--center{
        text-align: center;
    }
}
.heading-secondary{
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    

    @media only screen and (max-width: $bp-small){
        font-size: 4rem;
    }

    &--center{
        text-align: center;
    }
}
.para{
    font-weight: 300;
    font-size: 2.5rem;
    hyphens: auto;
    @media only screen and (max-width: $bp-small){
        font-size: 2rem;
    }
    @media only screen and (max-width: $bp-mini){
        font-size: 1.75rem;
    }
    
    &--white{
        color: #fff;
    }

    &--black{
        color: #000;
    }
}
.footer-text{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    line-height: 3.4rem;
    
    @media only screen and (max-width: $bp-micro){
        font-size: 1.5rem;
        
    }
}