.section-intro{
    //background-color: rgba($color: #807676, $alpha: 1.0);
    grid-column: 2/10;
    height: 91vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -7rem;
    margin-bottom: 7rem;

    @media only screen and (max-width: $bp-smallest){
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }

    .intro{
        font-weight: 300;
        font-size: 3rem;
        color: #000;
        line-height: 4.5rem;
        margin-top: 2.5rem;
    }

    &__picture{
        
        & img{
            width: 60rem;
            
            @media only screen and (max-width: $bp-small){
                width: 40rem;
            }
            @media only screen and (max-width: $bp-smallest){
                width : 60rem;
            }
            @media only screen and (max-width: $bp-mini){
                width: 45rem;
            }
        }
    }
}

.section-work{
    background-color: var(--color-primary);
    padding: 10rem 0;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns:repeat(3,min-content) ;
    justify-content: center;

        
}

.section-webinars{
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(3,min-content) ;
    justify-content: center;

    margin: 8rem 0 12rem 0;
}

.section-features{
    background-color: var(--color-primary);
    grid-column: 1/-1;
    padding: 8rem 0 10rem 0;
    display: grid;
    justify-content: center;
}

.section-mentors{
    grid-column: 1/-1;
    
    padding: 8rem 0 10rem 0;
    display: grid;
    grid-template-columns: repeat(3,min-content) ;
    justify-content: center;

}

.section-prompt-mentors{
    background-color: var(--color-primary);
    grid-column: 1/-1;
    padding: 8rem 0 10rem 0;
    
}

.section-experience{
    grid-column: 2/-2;
    padding: 8rem 0 10rem 0;
    display: grid;
    
}

.section-download{
    background-color: var(--color-primary);
    grid-column: 1/-1;

    display: grid;
    justify-content: center;
    justify-items: center;

}
